<!-- Money field -->
<div class="money-widget">
    <div
        class="money-config"
        data-widget-mode="<?= $this->mode ?>"
        data-currency-code="<?= $currencyConfig->currency_code ?>"
        data-currency-symbol="<?= $currencyConfig->currency_symbol ?>"
        data-decimal-point="<?= $currencyConfig->decimal_point ?>"
        data-thousand-separator="<?= $currencyConfig->thousand_separator ?>"
        data-place-symbol-before="<?= $currencyConfig->place_symbol_before ?>"
        data-fraction-digits="<?= $currencyConfig->initbiz_money_fraction_digits ?>"
        >
    </div>
    <div
        id="<?= $this->getId() ?>"
        class="form-group number-field <?= $this->mode ?>-wrapper">
        <input
            name="<?= $name ?>"
            id="<?= $this->getId('amount') ?>"
            value="<?= e($amount) ?>"
            class="form-control amount-input currency"
            autocomplete="off"
            <?= $this->formField->getAttributes() ?>
            />

        <?php if ($this->mode == "amountcurrency"): ?>
            <?= $this->makePartial('~/modules/backend/widgets/form/partials/_field_dropdown.htm', ['field' => $currenciesField]) ?>
        <?php else: ?>
            <input
                name="<?= $currenciesField->getName() ?>"
                id="<?= $this->getId('currency') ?>"
                value="<?= e($currenciesField->value) ?>"
                type="hidden"
                />
        <?php endif ?>
    </div>
</div>
