*
!.gitignore
!phpunit.xml
!/README.md
!composer.*
!init.php
!Plugin.php
!plugin.yaml
!assets
!assets/**/*
!behaviors
!behaviors/**/*
!classes
!classes/**/*
!config
!config/**/*
!formwidgets
!formwidgets/**/*
!lang
!lang/**/*
!tests
!tests/**/*
!updates
!updates/**/*
