.amount-input {
    text-align: right;
}

.amountcurrency-wrapper .amount-input {
    width: 70%;
    float: left;
}

.amountcurrency-wrapper .select2, .amountcurrency-wrapper div.form-control {
    width: 30%;
    float: right;
}
