<!-- Money field -->
<?php if ($this->previewMode): ?>
    <div class="form-control"><?= e(Currency::format($value, ['format' => $format])) ?></div>
<?php else: ?>
    <div
        id="<?= $this->getId() ?>"
        class="input-group number-field">
        <input
            name="<?= $name ?>"
            id="<?= $this->getId('textarea') ?>"
            value="<?= e($amount) ?>"
            class="form-control"
            autocomplete="off"
            style="width: 70%; text-align:right;"
            />

        <?= $this->makePartial('dropdown', ['field' => $currenciesField]) ?>
    </div>
<?php endif ?>
