<!-- Money field -->
<?php if ($this->previewMode): ?>
    <div class="form-control"><?= e(Currency::format($value, ['format' => $format])) ?></div>
<?php else: ?>
    <div
        id="<?= $this->getId() ?>"
        class="form-group number-field <?= $this->mode ?>-wrapper">
        <input
            name="<?= $name ?>"
            id="<?= $this->getId('amount') ?>"
            value="<?= e($amount) ?>"
            class="form-control amount-input currency"
            autocomplete="off"
            />

        <?php if ($this->mode == "amountcurrency"): ?>
            <?= $this->makePartial('currency_dropdown', ['field' => $currenciesField]) ?>
        <?php else: ?>
            <input
                name="<?= $currenciesField->getName() ?>"
                id="<?= $this->getId('currency') ?>"
                value="<?= e($currenciesField->value) ?>"
                type="hidden"
                />
        <?php endif ?>
    </div>
<?php endif ?>
