<!-- Money field -->
<div id="<?= $this->getId() ?>"
     class="money-widget">
    <div
        class="money-config"
        data-widget-mode="<?= $this->mode ?>"
        data-currency-code="<?= $currencyConfig->currency_code ?>"
        data-currency-symbol="<?= $currencyConfig->currency_symbol ?>"
        data-decimal-point="<?= $currencyConfig->decimal_point ?>"
        data-thousand-separator="<?= $currencyConfig->thousand_separator ?>"
        data-place-symbol-before="<?= $currencyConfig->place_symbol_before ?>"
        data-fraction-digits="<?= $currencyConfig->initbiz_money_fraction_digits ?>"
        >
    </div>
    <div class="form-group number-field <?= $this->mode ?>-wrapper">
        <div id="<?= $this->getId('amount') ?>">
            <?= $this->makePartial('amount_input', ['name' => $name, 'amount' => $amount, 'attributes' => $this->formField->getAttributes()]) ?>
        </div>

        <div id="<?= $this->getId('currency') ?>">
            <?= $this->makePartial('currency_input', ['field' => $currenciesField]) ?>
        </div>
    </div>
</div>
